<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Request Assistance</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300" rel="stylesheet" type="text/css">
        <link href="css/index.css" rel="stylesheet"/>
        <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    </head>
    <body>
        <h1>Welcome to the Computer Science Tutor Lab</h1>
        <h2>Please fill out the form below to be assisted</h2>
        <h4>Even with the small problems</h4>
        <form id="login-form">
            <input id="student-name" placeholder="Enter your name">
            <input id="confirm-student-name" class="" placeholder="Confirm Your name">
            <input id="a-number" placeholder="A#">
            <input id="confirm-a-number" class="" placeholder="Confirm A#">
            <label>Is this your first time to the Tutor Lab?</label>
            <span><input id="first-time" type="radio" name="first-time" value="first-time">Yes</span>
            <span><input id="sign-in" type="radio" name="first-time" value="attended-previously" checked>No</span>
            <button id="login-button" type="button">Log In</button>
        </form>
        <form id="assistance-form" class="">
            <label id="class-label" class="">What course?</label>
            <select id="class-selector" class="">
                <option value="empty"></option>
            </select>
            <label id="teacher-label" class="">Who is your teacher?</label>
            <select id="teacher-selector" class="">
                <option></option>
            </select>
            <label id="reason-label" class="">What is the purpose of your visit?</label>
            <select id="reason-selector" class="">
                <option>Homework Question</option>
                <option>General Programing Help</option>
            </select>
            <label id="issue-label" class="">What is the issue with your program?</label>
            <textarea id="program-issue" class=""></textarea>
        </form>
    <script type="text/javascript" src="js/request_page.js"></script>
    </body>
</html>