<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit A Request</title>
</head>
<body>
    <form id="assistance-form" class="">
        <label id="class-label" class="">What course?</label>
        <select id="class-selector" class="">
            <option value="empty"></option>
        </select>
        <label id="teacher-label" class="">Who is your teacher?</label>
        <select id="teacher-selector" class="">
            <option value="empty"></option>
        </select>
        <label id="reason-label" class="">What is the purpose of your visit?</label>
        <select id="reason-selector" class="">
            <option>Homework Question</option>
            <option>General Programing Help</option>
        </select>
        <label id="issue-label" class="">What is the issue with your program?</label>
        <textarea id="program-issue" class=""></textarea>
    </form>
</body>
</html>