body{
    background-color: #0f2439;
    color: white;
    font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}
h1,h2,h4{
    width: fit-content;
    text-align: center;
    margin: 5px auto;
}
h1{
    margin-top: 40px;
    font-weight: 400;
}
h2{
    font-weight: 300;
}
h4{
    font-weight: 100;
}

select, input, textarea,label{
    display: block;
    flex:1 100%;
    font-family: 'Roboto Condensed',Arial,Helvetica,sans-serif;
    margin:0px auto 5px;
    width: 90%
}

select{
    background-color: #0f2439;
    color: white;
}


#last-name, #first-name, #confirm-last-name, #confirm-first-name{
    flex:1 50%;
}
span{
    display: block;
    flex:1 100%;
}

.name-span{
    display: flex;
}

#login-form{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
}
